.workout {
    border: 2px solid rgb(252, 227, 227);
    border-radius: 10px;
    width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.picture {
    border-radius: 10px;
}

.add-list {
    width: 100%;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    background-color: rgba(24, 18, 18, 0.89);
    border-radius: 5px;
    color: white;
}

.add-list:hover {
    background-color: steelblue;
}